{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block home_content %}
    <h1>Index</h1>
    <p class="important">
        Welcome!
    </p>

    {% if is_granted('ROLE_USER') %}
        {# show form #}

        {% if calcValue is defined %}
            <p>{{ userInputValue }} {{ currencyFrom }} equals to {{ calcValue }} in {{ currencyTo }}</p>
            <a href="{{ path('app_homepage') }}">Home</a>
        {% else %}
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <p class="form">{{ form_row(form.currencyFrom,{ 'label': 'Select the currency you want to convert FROM' }) }}</p>
            <p class="form">{{ form_row(form.currency_value, { 'label': 'How much of it do you have?' }) }}</p>
            <p class="form">{{ form_row(form.currencyTo,{ 'label': 'Select the currency you want to convert TO' }) }}</p>

            {{ form_row(form.Submit, { 'label': 'Convert' }) }}
            {{ form_end(form) }}
        {% endif %}

    {% else %}
        <p>Please <a href="{{ path('fos_user_security_login') }}">Login</a>
            or <a href="{{ path('fos_user_registration_register') }}">Register</a>
            to proceed.
        </p>
    {% endif %}
{% endblock %}